main {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

header {
    border: 1px solid black;
    background-color: orange;
    text-align: center;
    margin: 2em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-basis: 80%;
    flex-direction: column;
    margin: 1em;
}

.content__fish-list {
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: pink;
    display: flex;
    height: auto;
    margin-bottom: 1em;
}

.fish__cards {
    border: 1px solid black;
    background-color: orange;
}

.fish_pic{
    height: 5em;
}

.content__quote-list {
    border: 1px solid black;
    background-color: lime;
    display: flex;
    justify-content: space-evenly;
    height: 10em;
    margin-bottom: 1em;
}

.quote__card{
    border:1px solid black;
    background-color: palegreen;
}

.content__location-list {
    border: 1px solid black;
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
    height: 10em;
}

.location__cards {
    border: 1px solid black;
    background-color: purple;
}

.sidebar {
    border: 1px solid black;
    background-color: lightskyblue;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar__cards {
    border: 1px solid black;
    background-color: orange;
}